<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <!--<add name="Data" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\USER\Documents\Data.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"/>
    <add name="DataConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\USER\Documents\Data.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
      providerName="System.Data.SqlClient"/>
    <add name="DataConnectionString2" connectionString="Data Source=(local);Initial Catalog=Data;Integrated Security=True"
      providerName="System.Data.SqlClient"/>-->
    <add name="DataConnectionString2" connectionString="Data Source=SQL6006.site4now.net;Initial Catalog=DB_A422E0_martins007;User Id=DB_A422E0_martins007_admin;Password=nokiae79" providerName="System.Data.SqlClient;" />
  </connectionStrings>
</configuration>
